.tabel1 {
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 50%;
    border: #f2f5f7;
    margin-top: 20px;
}

.tabel1 tr th {
    background-color: #3600FF;
    color: #fff;
    font-weight: normal;
}

.tabel1,
th,
td {
    padding: 9px 2px;
    text-align: center;
}

.tabel1 tr,
td:nth-child(even) {
    background: #62DEFD;
}

.kotak-jadwal{
    padding: 30px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
}